<section class="section" id="personal_project">
  <h2 class="title-thin text-muted">My Portfolio</h2>
  <div class="pf-wrap">
    <div class="pf-grid">
      <div class="pf-grid-sizer"></div>
      <!-- used for sizing -->

      <div class="pf-grid-item photography">
        <div class="project">
          <figure class="portfolio-figure">
            <img
              src="{{ '/styles/img/portfolio/hieflow.jpg' | prepend: site.baseurl }}"
              alt=""
            />
          </figure>
          <div class="portfolio-caption text-center">
            <div class="valign-table">
              <div class="valign-cell">
                <h2 class="text-upper">
                  HIE (Shanghai) Flow Technology Corp. Professional Website
                </h2>
                <p>
                  Cooperating with the company, I helped develop this website
                  for the company HIE Flow as their main website for displaying
                  products.
                </p>
                <a href="#pf-popup-1" class="pf-btn-view btn btn-primary"
                  >Details</a
                >
              </div>
            </div>
          </div>
        </div>
        <div id="pf-popup-1" class="pf-popup clearfix">
          <div class="pf-popup-col1">
            <!-- <div
              class="pf-popup-media"
              style="background-image: url({{ '/styles/img/portfolio/hieflow.jpg' | prepend: site.baseurl }}); background-repeat: no-repeat;background-size: cover;"
            ></div> -->
            <div class="popup-img1">
              <img
                src="{{ '/styles/img/portfolio/HIE_Flow/hieflow1.jpg' | prepend: site.baseurl }}"
                alt=""
              />
            </div>
            <br />
            <div class="popup-img1">
              <img
                src="{{ '/styles/img/portfolio/HIE_Flow/hieflow2.jpg' | prepend: site.baseurl }}"
                alt=""
              />
            </div>
            <br />
            <div class="popup-img1">
              <img
                src="{{ '/styles/img/portfolio/HIE_Flow/hieflow3.jpg' | prepend: site.baseurl }}"
                alt=""
              />
            </div>
            <div class="popup-img1">
              <img
                src="{{ '/styles/img/portfolio/HIE_Flow/backendmovingbanner1.jpg' | prepend: site.baseurl }}"
                alt=""
              />
            </div>
            <div class="popup-img1">
              <img
                src="{{ '/styles/img/portfolio/HIE_Flow/backendmovingbanner2.jpg' | prepend: site.baseurl }}"
                alt=""
              />
            </div>
            <br />
            <div class="popup-img1">
              <img
                src="{{ '/styles/img/portfolio/HIE_Flow/hieflow4.jpg' | prepend: site.baseurl }}"
                alt=""
              />
            </div>
            <div class="popup-img1">
              <img
                src="{{ '/styles/img/portfolio/HIE_Flow/backendcompanyintro.jpg' | prepend: site.baseurl }}"
                alt=""
              />
            </div>
            <br />
            <div class="popup-img1">
              <img
                src="{{ '/styles/img/portfolio/HIE_Flow/hieflow5.jpg' | prepend: site.baseurl }}"
                alt=""
              />
            </div>
            <br />
            <div class="popup-img1">
              <img
                src="{{ '/styles/img/portfolio/HIE_Flow/hieflow6.jpg' | prepend: site.baseurl }}"
                alt=""
              />
            </div>
            <div class="popup-img1">
              <img
                src="{{ '/styles/img/portfolio/HIE_Flow/backendstructure.jpg' | prepend: site.baseurl }}"
                alt=""
              />
            </div>
            <br />
            <div class="popup-img1">
              <img
                src="{{ '/styles/img/portfolio/HIE_Flow/hieflow7.jpg' | prepend: site.baseurl }}"
                alt=""
              />
            </div>
            <br />
            <div class="popup-img1">
              <img
                src="{{ '/styles/img/portfolio/HIE_Flow/hieflow8.jpg' | prepend: site.baseurl }}"
                alt=""
              />
            </div>
            <div class="popup-img1">
              <img
                src="{{ '/styles/img/portfolio/HIE_Flow/backendproducts1.jpg' | prepend: site.baseurl }}"
                alt=""
              />
            </div>
            <br />
            <br />
            <div class="popup-img1">
              <img
                src="{{ '/styles/img/portfolio/HIE_Flow/hieflow9.jpg' | prepend: site.baseurl }}"
                alt=""
              />
            </div>
            <div class="popup-img1">
              <img
                src="{{ '/styles/img/portfolio/HIE_Flow/backendproducts2.jpg' | prepend: site.baseurl }}"
                alt=""
              />
            </div>
            <br />
            <!-- <div class="popup-img1">
              <img
                src="{{ '/styles/img/portfolio/HIE_Flow/hieflow10.jpg' | prepend: site.baseurl }}"
                alt=""
              />
            </div>
            <br /> -->
            <div class="popup-img1">
              <img
                src="{{ '/styles/img/portfolio/HIE_Flow/hieflow11.jpg' | prepend: site.baseurl }}"
                alt=""
              />
            </div>
            <div class="popup-img1">
              <img
                src="{{ '/styles/img/portfolio/HIE_Flow/backendindustryapplications.jpg' | prepend: site.baseurl }}"
                alt=""
              />
            </div>
            <br />
            <br />
            <div class="popup-img1">
              <img
                src="{{ '/styles/img/portfolio/HIE_Flow/hieflow12.jpg' | prepend: site.baseurl }}"
                alt=""
              />
            </div>
            <br />
            <div class="popup-img1">
              <img
                src="{{ '/styles/img/portfolio/HIE_Flow/hieflow13.jpg' | prepend: site.baseurl }}"
                alt=""
              />
            </div>
            <div class="popup-img1">
              <img
                src="{{ '/styles/img/portfolio/HIE_Flow/backenddropdownnav.jpg' | prepend: site.baseurl }}"
                alt=""
              />
            </div>
          </div>
          <!-- .pf-popup-col1 -->

          <div class="pf-popup-col2">
            <div class="pf-popup-info clear-mrg">
              <h2 class="text-upper">
                HIE (Shanghai) Flow Technology Corp. Website
              </h2>
              <p class="text-muted"><strong>design / development</strong></p>
              <dl class="dl-horizontal">
                <dt>Link to website:</dt>
                <dd><a href="http://hieflow.com" target="_blank">Link</a></dd>
              </dl>
              <p>
                Website URL: http://hieflow.com (Or click link above)
                <br /><br />
                After self-learning web development and the creation of this
                resume website, I was offered an internship opportunity at the
                company HIE (Shanghai) Flow Technology Corp. to help in
                assisting with the creation of the company's professional
                website that helps display products and introduce the company.
              </p>
              <p>
                This project utilizes front end development through HTML, CSS,
                and JavaScript. Also requiring certain backend development such
                as PHP and the using of the backend developing platform and
                tools such as FTP. This is a gallery (collection) of both
                snapshots of the website and the backend platform programming.
              </p>
            </div>
            <!-- .pf-popup-info -->
          </div>
          <!-- .pf-popup-col2 -->
        </div>
        <!-- .pf-popup -->
      </div>
      <!-- .pf-grid-item -->
      <!--
            <div class="pf-grid-item design">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="{{ '/styles/img/portfolio/prj-02.jpg' | prepend: site.baseurl }}" alt="">
                    </figure>

                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">Art Global Website</h2>
                                <p>I took part in helping to develop Art Global Website, mainly utilizing HTML and WordPress. </p>
                                <a href="#" class="pf-btn-view btn btn-primary" target="_blank">Link to website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 

            <div class="pf-grid-item photography">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="{{ '/styles/img/portfolio/ai.jpg' | prepend: site.baseurl }}" alt="">
                    </figure>

                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">......</h2>
                                <p>............</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
-->
    </div>
  </div>
</section>
<!-- .section -->
