<section class="section brd-btm" id="education">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">Academics</h2>

            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/school.jpg' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="63" width="63">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>Shanghai American School (Puxi Campus)</strong>
                        <span>2016-2023 | Middle School - High School (Grades 6-12)</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p> I have been a student at Shanghai American School since 6th grade, and currently I am a senior. Some of the advanced courses I have taken as a high-schooler include AP United States History, AP Physics 1, AP Language and Composition, AP Psychology, and IB Chinese Mandarin B HL.
                        </p>
                        <p>Involved in many school clubs such as Computer Science club, Robotics club, Make a Child Smile club and more. First joined the SAS high school JV baseball team in 9th grade, I also participated in the JV badminton team for a year in 10th grade.
                        </p>
                    </blockquote>
                </div>
            </div><!-- .ref-box -->
            

            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/school2.png' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="63" width="63">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>Shanghai Fudan Wanke Experimental Private School (International Division)</strong>
                        <span>2010-2015 | Elementary School (Grades 1-5) </span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>Although this is a local Shanghai private school, I was participating under the international division where all classes except Math and Chinese were taught in English.</p>
                        <p>Some of my favorite activites include the yearly spelling bee and speech competitions, in which I have won multiple awards each year.</p>
                        <p>Due to a sudden illness that brought me on a world-wide journey for a diagnosis, I did not attend the first semester of 5th grade here.</p>
                    </blockquote>
                </div>
            </div>


            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/school3.png' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="63" width="63">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>E.H. Greene Intermediate School</strong>
                        <span>2015 | Elementary School (First Semester of 5th Grade) </span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>While I was receiving treatment in Cincinnati for my illness CRMO (Chronic recurrent multifocal osteomyelitis) I attended the local public elementary school to not drop my academics.</p>
                        <p>I was a new student and one of the few Asians, while also being on crutches due to having a hole in my leg from a bone marrow biopsy. Despite short lasting, I made some great friends here that helped make my experience much more pleasant. Here I also got to interact with a much more diverse student body, leanring more about what life is like outside of China.</p>
                        <p>The following semester I returned back to the Fudan Wanke School in Shanghai as I was almost fully recovered.</p>
                        
                    </blockquote>
                </div>
            </div>

            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/school4.png' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="63" width="63">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>Stars and Stripes American Kindergarten</strong>
                        <span>2006-2009 | All American Kindergarten</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p> Not much is remebered about my kindergarten experience
                        </p>
                    </blockquote>
                </div>
            </div>

        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->