<section class="section brd-btm" id="experience">
  <div class="row">
    <div class="col-sm-12 clear-mrg">
      <h2 class="title-thin text-muted">High School Experiences</h2>
      <br />
      <div class="education">
        <div class="education-box">
          <time class="education-date" datetime="2016-01TNow">
            <span><strong class="text-upper">11th Grade</strong></span>
          </time>
          <h3>HIE Flow Company Website Development</h3>
          <span class="education-company">Hosted by HIE Flow Company</span>
          <li>Learning the backend server used to host website</li>
          <br />
          <li>Planning the layout and structure of the website</li>
          <br />
          <li>
            Collaboration with company marketing team to gather information
            about company for display
          </li>
          <br />
          <li>Gathering of images of products and company logos</li>
          <br />
          <li>Revision of banners and interactivity of website</li>
          <br />
          <li>Organize products into smart categories</li>
          <br />
          <li>Programming to display product details and advantages</li>
          <br />
          <li>Responsive Design</li>
        </div>
        <!-- .education-box -->

        <div class="education-box">
          <time class="education-date" datetime="2016-01TNow">
            <span
              ><strong class="text-upper">11th Grade</strong><strong></strong
            ></span>
          </time>
          <h3>Understanding Blockchain, AI, & Machine Learning</h3>
          <span class="education-company">Hosted by Columbia University</span>
          <li>Explore artificial intelligence and machine learning</li>
          <br />
          <li>
            Understanding philosophical and ethical issues, relationship with
            consciousness and self-awareness
          </li>
          <br />
          <li>
            Exploring categories and applications of AI algorithms, challenges,
            and opportunities in future
          </li>
          <br />
          <li>
            Learning what blockchain is, how it has evolved, and where it is
            headed
          </li>
          <br />
          <li>
            Evaluating impacts of these technologies on society and how to
            become leaders shaping these fields
          </li>
          <br />
        </div>

        <div class="education-box">
          <time class="education-date" datetime="2016-01TNow">
            <span
              ><strong class="text-upper">11th Grade</strong><strong></strong
            ></span>
          </time>
          <h3>English Corner Call (Tutoring)</h3>
          <span class="education-company"></span>
          <li>
            Organized and led English tutoring calls, first with Chinese adults
            and later with local Chinese students
          </li>
          <br />
          <li>
            Calls explored and discussed different current topics in the world
          </li>
          <br />
          <li>
            Sharing of favorite books/movies, exploring themes of life and more
          </li>
          <br />
          <li>
            Sharing English tips, expanding vocabulary, and practice effective
            phrasing of thoughts so that students can better express and convey
            themselves
          </li>
          <br />
        </div>

        <div class="education-box">
          <time class="education-date" datetime="2016-01TNow">
            <span
              ><strong class="text-upper">10-11th Grade</strong><strong></strong
            ></span>
          </time>
          <h3>Heart to Heart Shanghai (H2H) Volunteering</h3>
          <span class="education-company"></span>
          <li>
            H2H is a non-profit organization that provides support for rural
            Chinese families, we also sponsor for children's congenital heart
            disease surgery
          </li>
          <br />
          <li>
            Worked with H2H management team to sort and package donated goods,
            while also planning on future events
          </li>
          <br />
          <li>
            Worked with H2H events team, standing booths across Shanghai during
            weekends. I helped with raising awarness, introducing our
            organization, gathering more volunteers, and most importantly helped
            fundraise. Which involves selling of Heart Bears — teddy bears
            wearing clothing hand sewn by volunteers
          </li>
          <br />
          <li>
            Volunteered at H2H playroom, interacting and playing with sponsored
            children post heart surgery in the hospital playrooms, with the
            goals of speeding up recovery from surgery
          </li>
          <br />
        </div>

        <div class="education-box">
          <time class="education-date" datetime="2016-01TNow">
            <span
              ><strong class="text-upper">9-12th Grade</strong><strong></strong
            ></span>
          </time>
          <h3>SAS JV Baseball Team</h3>
          <span class="education-company"></span>
          <li>Participation in my school's yearly JV baseball team</li>
          <br />
          <li>
            Each season lasts for 2 months, involving afterschool practice
            commitments, and frequent games/scrimmages with other schools.
          </li>
          <br />
          <li>
            In 9th grade I also participated in the China Cup, however due to
            COVID, games were limited in 10-11th grade
          </li>
          <br />
        </div>

        <div class="education-box">
          <time class="education-date" datetime="2016-01TNow">
            <span
              ><strong class="text-upper">9-12th Grade</strong><strong></strong
            ></span>
          </time>
          <h3>SAS Clubs</h3>
          <span class="education-company"></span>
          <ul>
            <h4>Computer Science Club</h4>
            <li>
              Creation, learning, and problem solving with computer science
            </li>
            <li>
              Meaningfully apply comp sci in collaboration with other members on
              real-world projects
            </li>
            <li>
              Understanding of new and rising technologies such as AI and
              Machine learning.
            </li>
            <li>Exploration of web development</li>
          </ul>
          <br />
          <ul>
            <h4>Make a Child Smile Service Club</h4>
            <li>
              Helped raise money to employ a teacher at the Chinese orphanage
            </li>
            <li>
              Funding for the Huixin Education Fund, which allows young children
              behind in their education to get caught up to their grade levels,
              enabling them to enroll in school
            </li>
            <li>
              As students we also host many activities with the children at the
              Huixin Orphanage such as writing and sending cards, hosting
              special christmas/halloween events, and more
            </li>
          </ul>
          <br />
          <ul>
            <h4>Robotics Club</h4>
            <li>
              Collaborating in group settings to design, develop, build,
              document, and program robots that can compete in different
              challenges hosted by schools
            </li>
            <li>Weekly afterschool commitments to meetings</li>
          </ul>
          <br />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- .section -->
