<section class="section brd-btm" id="certification">
  <h2 class="title-thin text-muted">Awards</h2>

  <div class="row">
    <div class="col-sm-6 clear-mrg">
      <div class="award-box">
        <figure class="award-img">
          <img
            src="{{ '/styles/img/academic.png' | prepend: site.baseurl }}"
            alt=""
          />
        </figure>
        <br />
        <h3 class="award-title">Grade 11 Math Academic Distinction Award</h3>
      </div>
    </div>
    <!-- .col-sm-6 -->

    <div class="col-sm-6 clear-mrg">
      <div class="award-box">
        <figure class="award-img">
          <img
            src="{{ '/styles/img/communityaward.png' | prepend: site.baseurl }}"
            alt=""
          />
        </figure>
        <br />
        <h3 class="award-title">
          SAS Community Service Certificate for 90 Hours of Service
        </h3>
      </div>
    </div>

    <div class="col-sm-6 clear-mrg">
      <div class="award-box">
        <figure class="award-img">
          <img
            src="{{ '/styles/img/FERMAT.png' | prepend: site.baseurl }}"
            alt=""
          />
        </figure>
        <br />
        <h3 class="award-title">
          Certificate of Distinction: Ranked Top 25% of Contestants In The
          Fermat Competition 2022
        </h3>
      </div>
    </div>
    <!-- .col-sm-6 -->
  </div>
  <!-- .row -->
</section>
<!-- .section -->
