<section class="section brd-btm" id="basic_info">
    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <h2 class="title-thin text-muted">My Bio</h2>

            <dl class="dl-horizontal clear-mrg">
                <dt class="text-upper">Sex</dt>
                <dd>Male</dd>

                <dt class="text-upper">Birth Date</dt>
                <dd>03 Dec 2004</dd>

                <dt class="text-upper">Location</dt>
                <dd>Shanghai, China</dd>

                <dt class="text-upper">e-mail</dt>
                <dd><a href="mailto:joshuayi2004@gmail.com">joshuayi2004@gmail.com</a></dd>

                <dt class="text-upper">Languages</dt>
                <dd>English and Chinese</dd>

                <dt class="text-upper">Family</dt>
                <dd>Dad,Mom,Older Sister(Rulan),Me</dd>

                <dt class="text-upper">Interests</dt>
                <dd>Badminton, Baseball, Computer Science</dd>
            </dl>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->